@tailwind base;
@tailwind components;
@tailwind utilities;

h2, h2, h3, h4 {
    font-family: 'Josefin Sans';
    font-weight: 600;
    line-height: 1;
}

body {
    font-family: 'Almarai';
}

.card .inner-card {
    @apply bg-gradient-to-br from-white via-red-300 to-red-400;
}

.card .inner-card svg {
    width: 48px;
    height: 48px;
    margin: 10px;
}

header svg {
    height: 36px;
    width: 36px;
    margin: 10px;
}

